* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

.main-container {
    width: 100%;
    height: 473px;
    background-image: url("main-background-image.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-container {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    /* justify-content:center; */
}

.get-the-app-section {
    width: 100px;
    height: 22px;
    background-color: transparent;
    margin-left: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section {
    width: 16px;
    height: 22px;
    background-color: black;
}

.text-section {
    width: 84px;
    height: 22px;
    background-color: transparent;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 6px;
    font-weight: 560;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: "Ubuntu", sans-serif;
}

.inves-relation-section {
    width: 156px;
    height: 40px;
    background-color: transparent;
    margin-left: 488px;
    color: white;
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding-top: 12px;
    font-family: "Ubuntu", sans-serif;



}

.restro-section {
    width: 136px;
    height: 60px;
    background-color: transparent;
    margin-left: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 22px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;

}

.login-section {
    width: 56px;
    height: 40px;
    background-color: transparent;
    margin-left: 32px;
    color: white;
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
    padding-top: 11px;

}

.signup-section {
    width: 68px;
    height: 40px;
    background-color: transparent;
    margin-left: 30px;
    padding-top: 12px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: white;

}

.zomoato-log-container {
    width: 820px;
    height: 240px;
    background-color: transparent;
    margin-left: 300px;
    margin-top: 60px;
}

.logo-container {
    width: 100%;
    height: 72px;
    background-color: transparent;

}

.discover-section {
    width: 100%;
    height: 72px;
    background-color: transparent;
    font-size: 38px;
    font-family: "Ubuntu", sans-serif;
    padding-top: 27px;
    padding-left: 58px;

    color: white;
}

.input-bar-section {
    width: 100%;
    height: 92px;
    background-color: transparent;
    /* display:flex; */
    /* align-items:center;
    justify-content:center; */
}

.actual-logo {
    width: 300px;
    height: 92px;
    background-image: url('Zomato-logo.avif');
    margin-left: 260px;
    background-size: contain;
    background-repeat: no-repeat;
}

.input-division {
    width: 778px;
    height: 56px;

    background-color: white;

    display: flex;
    margin-top: 28px;
    margin-left: 22px;
    border-radius: 8px;
}

.input-log {
    width: 36px;
    height: 56px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#loc {
    color: #ff7e8b;
    padding-top: 18px;
    padding-left: 13px;
    font-size: 22px;

}

.option-section {
    width: 100px;
    height: 40px;
    background-color: aquamarine;
}

select {
    background-color: rgb(255, 255, 255);
    width: 210px;
    height: 56px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    border: 0px solid green;
    color: #858585;
    /* border-right:2px solid grey; */
}

.search-division {
    width: 40px;
    height: 24px;

    overflow: hidden;
    margin-left: 114px;
    margin-top: 18px;

}

#sear {
    font-size: 20px;
    padding-left: 14px;
    padding-top: 3px;
    border-left: 2px solid rgb(204, 204, 204);
}

.input-div-2-section {
    width: 300px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    margin-top: 16px;
}

#input-div-2 {
    width: 100%;
    height: 28px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 14px;
    margin-left: 8px;
}

.order-section-main-container {
    width: 100%;
    height: 300px;
    border: 0px solid black;
    background-color: white;
    display: flex;

}

.order-section-container1 {
    width: 594px;
    height: 264px;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    margin-left: 106px;
    margin-top: 32px;
    border-radius: 16px;

}

.order-section-container2 {
    width: 594px;
    height: 264px;
    background-color: white;
    margin-left: 10px;
    margin-top: 32px;
    border-radius: 16px;
    border: 1px solid rgb(207, 207, 207);
}

/* order-section - iamge section */
.order-section-cont1-image-section {
    width: 100%;
    height: 170px;
    background-image: url("order-section-image.avif");
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.order-section-text-1 {
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    padding-left: 22px;
    padding-top: 10px;


}

.order-section-text-2 {
    width: 100%;
    height: 32px;
    background-color: white;
    font-size: 18px;
    padding-left: 20px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(126, 126, 126);
}

/* <!-- This is collection section css --> */
.collection-section-container {
    width: 100%;
    height: 380px;
    border: 0px solid rgb(194, 154, 154);
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-section-inner-container {
    width: 1110px;
    height: 370px;
    background-color: rgb(214, 150, 31);
}

.collection-section-title-text-container {
    width: 100%;
    height: 100px;
    background-color: white;
}

.title-text-collection {
    width: 220px;
    height: 60px;
    background-color: white;
    font-size: 42px;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;

}

.title-text-collection-2 {
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 19px;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    display: flex;

}

/* this is collection iamge section container */
.collection-image-section-container {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container-box-1-image {
    width: 25%;
    height: 90%;
    /* background-color:rgb(105, 100, 100); */
    background-image: url("biriyani.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.container-box-2-image {
    width: 25%;
    height: 90%;
    background-image: url("outdoor-sitting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.container-box-3-image {
    width: 25%;
    height: 90%;
    background-image: url("cofee-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.container-box-4-image {
    width: 25%;
    height: 90%;
    background-image: url("biriyani.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.polular-locality-section {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-top: 220px;
    font-size: 38px;
    font-family: "Ubuntu", sans-serif;
    padding-left: 80px;
    padding-top: 18px;

}

.place-container {
    width: 100%;
    height: 400px;

    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-container {
    width: 100%;
    height: 600px;
    border: 2px solid black;
}

.place-container-inner {
    width: 1100px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-wrap: wrap; */
    /* justify-content:space-evenly; */



}

.place1 {
    width: 348px;
    height: 86px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px;
}

.plac-title {
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 19px;
    background-color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.plac-desc {
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;


}

.footer {
    padding: 10px;
    text-align: center;
    color: rgb(141, 140, 140);
    background-color: white;
    font-size: 12px;
    font-family: "Ubuntu", sans-serif;
}
